﻿@model DHTMLX.Scheduler.DHXScheduler

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    //Layout = null;
}

    <body>
        <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler-responsive.js"></script>
        @*<link href="~/Content/dhtmlxscheduler-responsive-classic.css" rel="stylesheet" />*@
        <link href="~/Content/dhtmlxscheduler-responsive.css" rel="stylesheet" />
        <div class="scheduler_container">
            @Html.Raw(Model.Render())
        </div>

        <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_contrast_black.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_custom_lightbox.js"></script>
        <script src="~/Scripts/SchedulerScript.js"></script>
        <script src="Scripts/jquery-3.4.1.min.js"></script>
        <script src="Scripts/bootstrap1.js"></script>
        <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_collision.js"></script>
        <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_limit.js"></script>
        <script type="text/javascript">


            var user = @TimeBookingWeb.Controllers.ScheduleController.currentUserId;
            @{string uName = TimeBookingWeb.Controllers.ScheduleController.currentLoggedInUser.Username;}
            var username = "@Html.Raw(HttpUtility.JavaScriptStringEncode(uName))";
            @{string rl = TimeBookingWeb.Controllers.ScheduleController.currentUserRole;}
            var role = "@Html.Raw(HttpUtility.JavaScriptStringEncode(rl))";

            scheduler.attachEvent("onEventLoading", function (ev) {

				if (role == "Admin") {
                    ev.color = "#454A52";
                }
                else if (role != "Admin" && ev.userId == user) {
                    ev.color = "#1B4F72";
                }
                else {
                    ev.color = "#BD0032";
                }

                return true;
            });

            // blocks past time
            var block_id = null;
            scheduler.attachEvent("onBeforeViewChange", function (old_mode, old_date, mode, date) {

                if (block_id)
                    scheduler.deleteMarkedTimespan(block_id);

                var from = scheduler.date[mode + "_start"](new Date(date));
                var to = new Date(Math.min(+new Date(), + scheduler.date.add(from, 1, mode)));

                block_id = scheduler.addMarkedTimespan({
                    start_date: from,
                    end_date: to,
                    type: "dhx_time_block"
                });

                return true;
            });



            scheduler.attachEvent("onEventCreated", function (id, e) {

                var ev = scheduler.getEvent(id);
                ev.text = username;
                ev.name = username;
                ev.userId = user;
                scheduler.updateEvent(id);
            });
            scheduler.attachEvent("onDblClick", function (id, e) {

                var event = scheduler.getEvent(id);
                var uId = event.userId;

                if (role != "Admin") {
                    if (uId != user) {
                        return false;
                    }
                }
                return true;
            });


            scheduler.attachEvent("onLightbox", function () {
                var section = scheduler.formSection("User:");
                section.control.disabled = true;
                //section.config.sections = false;
            });

            scheduler.config.lightbox.sections = [
                { name: "User:", height: 30, map_to: "text", type: "textarea", focus: true }
            ]



            scheduler.config.time_step = 30;
            scheduler.config.hour_size_px = 88;

            scheduler.config.show_loading = true;
            scheduler.config.collision_limit = 1;

            scheduler.config.first_hour = 8;
            scheduler.config.last_hour = 17;
            scheduler.config.start_on_monday = true;

            scheduler.templates.hour_scale = false;


            scheduler.config.show_loading = false;
            scheduler.config.details_on_create = true;
            scheduler.config.preserve_scroll = false;

            // remove events on click
            scheduler.filter_day =
                scheduler.filter_week =
                scheduler.filter_month =
                scheduler.filter_timeline = function (id, event) {
                    var state = scheduler.getState();

                    if ((state.new_event || state.drag_mode == "new-size") && (state.drag_id == event.id || state.lightbox_id == event.id)) {
                        return false;
                    }
                    return true;

                };

            // remove weekends
            scheduler.ignore_week = function (date) {
                if (date.getDay() == 6 || date.getDay() == 0)
                    return true;
            }

            // 30 mins step
            var format = scheduler.date.date_to_str("%H:%i");
            var step = 30;

            scheduler.templates.hour_scale = function(date){
                 var html="";
                 for (var i=0; i<60/step; i++){
                     html+="<div style='height:44px;line-height:44px;'>"+format(date)+"</div>";
                     date = scheduler.date.add(date,step,"minute");
                 }
                 return html;
            }

            scheduler.init('scheduler_here', null, "week");

        </script>

    </body>



