﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSDR @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    @{
        string r2 = TimeBookingWeb.Controllers.ScheduleController.currentLoggedInUser.Username;
        IHtmlString name = Html.Raw(HttpUtility.JavaScriptStringEncode(r2));
    }
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <a class="navbar-brand">TSDRCalendar</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="navbar-text"><i>Logged in as</i> <b>@name</b></a>
                </li>
                <li class="nav-item active">
                    <button type="button" id="btnLogin" class="btn btn-secondary">Logout</button>
                </li>
            </ul>
        </div>


        @*<div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto" id="login">
                <li class="nav-item">
                    <a class="navbar-text"><i>Logged in as</i> <b>@name</b></a>
                    <button type="button" id="btnLogin" class="btn btn-secondary">Logout</button>
                </li>
            </ul>
        </div>*@
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TSDRCalendar</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnLogin').click(function () {
                window.location.href = '@Url.Action("Logout", "Schedule")';
            });
        });
    </script>
</body>
</html>
