﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.scheduler_container {
    width: 99%;
    margin-left: 10px;
    height: 900px;
    border: 1px solid #aeaeae;
}

.dhx_cal_select_menu {
    display: none !important;
}
#login {
    float: right;
    color: white;
    font-size: 12px;
}
#navbar{
    height: 10px;
    vertical-align: top;
}
#btnLogin{
    float: right;
    border-color: white;
    margin-left: 8px;
}