﻿@model TimeBookingWeb.Models.UserModel

@{
    ViewBag.Title = "Log";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/MyStyle.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <title></title>
</head>
<body>
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12>"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">

                <form class="form-container">
                    <h1>Login</h1>
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" id="txtUsername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <button type="button" id="btnLogin" class="btn btn-success btn-block">Submit</button>
                    <br />
                    <div>
                        Don't Have an account..?
                        @Html.ActionLink("Register Here", "Register")
                    </div>
                </form>
                <!--Bootstrap alert to display error message if the login fails-->
                <div id="divError" class="alert alert-danger collapse">
                    <a id="linkClose" href="#" class="close" data-dismiss="">&times;</a>
                    <div id="divErrorText"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {         
           $('#linkClose').click(function () {
                $('#divError').hide('fade');
           });

            $('#btnLogin').click(function () {

                $.ajax({
                    url: 'https://tsdrapi.azurewebsites.net/token',
                    method: 'POST',
                    contentType: 'application/json',                

                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#txtPassword').val(),
                        grant_type: 'password'
                    },
                    success: function (response) {                       
                        var token = response.access_token;
                        window.location.href = '@Url.Action("Interm", "Schedule")?value=' + token;
                        @*localStorage.setItem('token', response.access_token);
                        window.location.href = '@Url.Action("Interm", "Schedule")?value=' + localStorage.token;*@
                    },
                    error: function (jqXHR) {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                });
            });
        });

    </script>
</body>
</html>
