﻿
@{
    ViewBag.Title = "Register";
}
@{
    ViewBag.Title = "Reg";
}
@{
    Layout = null;
}
<html lang="en" dir="ltr">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/MyStyle.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <title></title>
</head>
<body>
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12>"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">

                <form class="form-container">
                    <h1>Register</h1>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" id="txtUsername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                    </div>

                    <button type="button" id="btnReg" class="btn btn-success btn-block">Submit</button>
                    <br />
                    <div>
                        @Html.ActionLink("Back to login", "Login")
                    </div>

                </form>

                <!--Bootstrap alert to display error message if the login fails-->
                <div id="divError" class="alert alert-danger collapse">
                    <a id="linkClose" href="#" class="close" data-dismiss="">&times;</a>
                    <div id="divErrorText"></div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>

    <div id="success_tic" class="modal fade" role="dialog">
        <div class="modal-dialog">
           
            <div class="modal-content">
                <a class="close" href="#" data-dismiss="modal">&times;</a>
                <div class="page-body">
                    <div class="head">
                        <h3 style="margin-top:5px;">Successfully Registered</h3>
                        <h4> </h4>
                    </div>

                    <h1 style="text-align:center;"/>
                        <div class="checkmark-circle">
                            <div class="background"></div>
                            <div class="checkmark draw"></div>
                        </div>     
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
           });

            $('#btnReg').click(function () {
                $.ajax({

                    url: 'https://tsdrapi.azurewebsites.net/api/usermaster',
                    method: 'POST',
                    contentType: 'application/x-www-form-urlencoded',

                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#txtPassword').val(),
                        emailID: $('#txtEmail').val(),
                    },
                    success: function (response) {                         
                          $("#success_tic").modal('show');
                    },
                    error: function (jqXHR) {

                        //alert("Incomplete form");
                        $('#divErrorText').text("invalid form");    //(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                })
            });
        });
    </script>
</body>
</html>